//  { position: fixed; left: 2%; bottom: calc(5% + 85px); z-index: 100; }

/* @media (max-width: 767px) {  { left: unset; right: 2%;  bottom: calc(6.5rem + env(safe-area-inset-bottom));; } } */

@media (max-width: 1023px) {
    //  { left: unset; right: 2%;  bottom: calc(6.5rem + env(safe-area-inset-bottom)); transition: all .2s ease; } 
    .over_popup {  bottom: calc(13.5rem + env(safe-area-inset-bottom)); } 
  }


@media (max-width: 767px) {  .baloon_container .baloon { width: 56px; height: 56px; margin-bottom: 10px; } }



@media (max-width: 767px) {  .baloon_container .baloon:hover { background-color: #02212c; } }



@media (max-width: 767px) {  .baloon_container .baloon.close:hover { background-color: #fff !important; } }








@media (max-width: 767px) {  .baloon_container .baloon.close.chat_faq:hover img:nth-child(1) { display: block; } }



@media (max-width: 767px) {  .baloon_container .baloon.close.chat_faq:hover img:nth-child(2) { display: none; } }



@media (max-width: 767px) {  .baloon_container .baloon.close.chat_faq:hover img:nth-child(3) { display: none; } }



@media (max-width: 767px) {  .baloon_container .baloon.close .chat_cs_text_container { width: 56px; height: 56px; } }



@media (max-width: 767px) {   .faq_container { width: 56px; height: 56px; box-shadow: 0 2px 4px 0px rgba(51, 51, 51, 0.33) !important; } }




@media (max-width: 767px) {  .baloon_container .baloon img { width: 25px; height: 25px; } }


@media (max-width: 767px) {  .baloon_container .baloon img:nth-child(3) { width: 25px; height: 25px; } }



@media (max-width: 767px) {  .baloon_container  .faq_container { width: 96vw; height: 51vh; padding-right: 0px; padding-left: 25px; padding-bottom: 50px; box-shadow: 0 0px 4px 2px rgba(51, 51, 51, 0.33); border-radius: 12px 12px 33px 12px; right: 0; left: unset; } }

@media (max-width: 330px) {  .baloon_container  .faq_container { height: 53vh; } }



@media (max-width: 767px) {  .baloon_container  .faq_container .faq_title h3 { font-size: 14px; margin-bottom: 4px; } }



@media (max-width: 767px) {  .baloon_container  .faq_container .faq_title p { font-size: 15px; } }

  .faq_container .faq_scroll { /* width */ /* Track */ /* Handle */ /* Handle on hover */ margin-right: 46px; padding-right: 20px; overflow-y: scroll; overflow-x: hidden; height: 260px; }

  .faq_container .faq_scroll::-webkit-scrollbar { width: 5px; }

  .faq_container .faq_scroll::-webkit-scrollbar-track { box-shadow: inset 0 0 5px #eaeaea; border-radius: 10px; }

  .faq_container .faq_scroll::-webkit-scrollbar-thumb { background: #02212c; border-radius: 10px; }

  .faq_container .faq_scroll::-webkit-scrollbar-thumb:hover { background: #000406; }

@media (max-width: 767px) {   .faq_container .faq_scroll { height: 31vh; margin-right: 9px; padding-right: 20px; } }

@media (max-width: 380px) {   .faq_container .faq_scroll { height: 28vh; } }

  .faq_container .faq_scroll .qa { box-sizing: border-box; padding: 15px 0 15px 0; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; cursor: pointer; }

  .faq_container .faq_scroll .qa.bt { border-top: 1px solid #00212d; }

  .faq_container .faq_scroll .qa.bb { border-bottom: 1px solid #00212d; }

  .faq_container .faq_scroll .qa .q { display: -webkit-box; display: flex; -webkit-box-pack: justify; justify-content: space-between; align-items: center; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

  .faq_container .faq_scroll .qa .q h3 { font-weight: 600; font-size: 16px; color: #02212c; line-height: 1.2; margin-top: 0; margin-bottom: 0px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; white-space: nowrap; }

@media (max-width: 767px) {   .faq_container .faq_scroll .qa .q h3 { font-size: 14px; } }

  .faq_container .faq_scroll .qa .q > span { position: relative; font-size: 30px; color: #000; padding-right: 0px; padding-left: 20px; margin-top: -3px; }

  .faq_container .faq_scroll .qa .q > span > span { height: 15px; width: 20px; position: relative; box-sizing: border-box; line-height: 20px; display: inline-block; }

  .faq_container .faq_scroll .qa .q > span > span:before,   .faq_container .faq_scroll .qa .q > span > span:after { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); content: ''; position: absolute; top: 50%; left: 50%; margin-top: -1.5px; margin-left: -7.5px; display: block; height: 3px; width: 15px; background-color: #000; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

  .faq_container .faq_scroll .qa .q > span > span:before,   .faq_container .faq_scroll .qa .q > span > span:after { -webkit-transform: rotate(0deg); transform: rotate(0deg); }

  .faq_container .faq_scroll .qa .a {  font-size: 14px; color: #424242; padding-right: 0px; -webkit-transition: all 0.5s ease; height: 0; transition: all 0.5s ease; overflow: hidden; }

  .faq_container .faq_scroll .qa .a > div { height: auto; padding-top: 15px; width: 320px; }

@media (max-width: 767px) {   .faq_container .faq_scroll .qa .a > div { width: 78vw; } }

  .faq_container .faq_scroll .qa .a > div span.strong {  color: #000; }

  .faq_container .faq_scroll .qa .a > div a {  text-decoration: underline; }

  .faq_container .faq_scroll .qa .a > div a:hover { text-decoration: none; }

  .faq_container .faq_scroll .qa.close .q > span > span:after { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

  .faq_container .faq_scroll .read_more {  display: inline-block; width: 100%; border: 1px solid #02212c; text-align: center; padding: 10px 0; border-radius: 4px; color: #02212c; font-size: 16px; margin-top: 10px; margin-bottom: 10px; }

@media (max-width: 1023px) { .baloon_container._hide__keyboard ,.baloon_container.hide__minicart{ transform: translateX(-200px) !important;  } }
@media (max-width: 767px) { .baloon_container._hide__keyboard ,.baloon_container.hide__minicart{ transform: translateX(200px) !important;  } }





@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

//var 
$blue: #02212c;

body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Poppins', serif !important;
}
.container{
    width: 100%;
    .limit_up,.limit_down{
        width:100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #f6f6f6;
    }
    .visible_range{
        width: 100%;
        height: 800px;
    }
}


.hide_desk {
    @media (min-width: 768px){
        display: none !important; 
    }
}

.hide_mob { 
    @media (max-width: 767px) { 
        display: none !important;
    }
}

.baloon_container { 
    position: fixed;
    left: 30px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-200px);
    transition: all .4s ease;
   
    &.show { 
       
        transform: translateX(0);
    }
    &.close { 
        .baloon{
            background-color: #fff; 
        
            &:hover { 
                background-color: $blue; 
                #faq_icon{
                    color: #fff;
                    display: block;
                }
            }
            #close_icon{
                display: none;
            }
        }
       
        .faq_container{
            width: 67px;
            height: 67px;
            border-radius: 35px;
            .faq_title { 
                transition-delay: 0.1s; opacity: 0;
            }

            .faq_scroll { 
                transition-delay: 0.1s; opacity: 0;
            }
        }
        

    }
    
    .baloon { 
        position: relative;
        width: 67px; height: 67px;
        box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.33);
        background-color: #fff; border-radius: 35px;
        margin-bottom: 15px; 
        cursor: pointer; 
        background-color: $blue;
        opacity: 1; 
        margin-bottom: 0;

        &:hover { 
            background-color: $blue;
        }
      
        svg{
            fill: currentColor;

            width: 30px;
            height: 30px;
            pointer-events: none;
            position: absolute;
            left: 50%; 
            top: 50%; 
            transform: translate(-50%, -50%); 
            z-index: 1; 
            &#faq_icon{
                color: $blue;
            }
            &#close_icon{
                color: #fff;                   
            }
        }
      
    }
    .faq_container { 
        width: 422px;
        height: 427px;
        padding-right: 0px;
        padding-left: 35px;
        padding-bottom: 67px;
        box-sizing: border-box;
        border-radius: 12px 12px 12px 33px;
        box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.33);
        background-color: #fff;
        
        position: absolute;
        left: 0;
        top: unset;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        cursor: default;
        transition: all .4s ease; 
        .faq_title{
            h3 { 
                font-weight: 600;
                font-size: 20px;
                color: $blue;
                margin-top: 25px;
                margin-bottom: 0px;
                overflow: hidden;
                white-space: nowrap;
            }
            p {  
                font-size: 16px;
                font-weight: 400;
                line-height: 1.50;
                white-space: nowrap;
                color: $blue;
                margin-top: 0; 
                margin-bottom: 10px; 
            }
        } 
    }
}
