//  { position: fixed; left: 2%; bottom: calc(5% + 85px); z-index: 100; }

/* @media (max-width: 767px) {  { left: unset; right: 2%;  bottom: calc(6.5rem + env(safe-area-inset-bottom));; } } */

@media (max-width: 1023px) {
    //  { left: unset; right: 2%;  bottom: calc(6.5rem + env(safe-area-inset-bottom)); transition: all .2s ease; } 
    .over_popup {  bottom: calc(13.5rem + env(safe-area-inset-bottom)); } 
  }





@media (max-width: 767px) {    }




@media (max-width: 767px) {  .baloon_container .baloon img { width: 25px; height: 25px; } }


@media (max-width: 767px) {  .baloon_container .baloon img:nth-child(3) { width: 25px; height: 25px; } }



@media (max-width: 767px) {  .baloon_container  .faq_container { width: 96vw; height: 51vh; padding-right: 0px; padding-left: 25px; padding-bottom: 50px; box-shadow: 0 0px 4px 2px rgba(51, 51, 51, 0.33); border-radius: 12px 12px 33px 12px; right: 0; left: unset; } }

@media (max-width: 330px) {  .baloon_container  .faq_container { height: 53vh; } }



@media (max-width: 767px) {  .baloon_container  .faq_container .faq_title h3 { font-size: 14px; margin-bottom: 4px; } }



@media (max-width: 767px) {  .baloon_container  .faq_container .faq_title p { font-size: 15px; } }

 

 

@media (max-width: 767px) {   .faq_container .faq_scroll { height: 31vh; margin-right: 9px; padding-right: 20px; } }

@media (max-width: 380px) {   .faq_container .faq_scroll { height: 28vh; } }
  
 


@media (max-width: 767px) {   .faq_container .faq_scroll .qa .q h3 { font-size: 14px; } }


@media (max-width: 767px) {   .faq_container .faq_scroll .qa .a > div { width: 78vw; } }




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

//var 
$blue: #02212c;

body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Poppins', serif !important;
}
.container{
    width: 100%;
    .limit_up,.limit_down{
        width:100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #f6f6f6;
    }
    .visible_range{
        width: 100%;
        height: 800px;
    }
}


.hide_desk {
    @media (min-width: 768px){
        display: none !important; 
    }
}

.hide_mob { 
    @media (max-width: 767px) { 
        display: none !important;
    }
}

.baloon_container { 
    position: fixed;
    left: 30px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-200px);
    transition: all .4s ease;
    @media(max-width:768px){
        left: 15px;  
        bottom: calc(2.5rem + env(safe-area-inset-bottom)); 
    }
    &.show { 
       
        transform: translateX(0);
    }
    &.close { 
        .baloon{
            background-color: #fff; 
        
            &:hover { 
                @media(min-width:768px){
                    background-color: $blue; 
                    #faq_icon{
                        color: #fff;
                        display: block;
                    }
                }
               
            }
            #close_icon{
                display: none;
            }
        }
       
        .faq_container{
            width: 67px;
            height: 67px;
            border-radius: 35px;
            @media(max-width:767px){
                width: 56px;
                height: 56px;
                box-shadow: 0 2px 4px 0px rgba(51, 51, 51, 0.33) !important; 
            }
            .faq_title { 
                transition-delay: 0.1s; opacity: 0;
            }

            .faq_scroll { 
                transition-delay: 0.1s; opacity: 0;
            }
        }
        

    }
    
    .baloon { 
        position: relative;
        width: 67px; height: 67px;
        box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.33);
        background-color: #fff; border-radius: 35px;
        margin-bottom: 15px; 
        cursor: pointer; 
        background-color: $blue;
        opacity: 1; 
        margin-bottom: 0;
        @media (max-width: 767px) { 
            width: 56px;
            height: 56px;
          
        }

        &:hover { 
            @media(min-width:768px){
                background-color: $blue;
            }
           
        }
    
        svg{
            fill: currentColor;

            width: 30px;
            height: 30px;
            pointer-events: none;
            position: absolute;
            left: 50%; 
            top: 50%; 
            transform: translate(-50%, -50%); 
            z-index: 1; 
            &#faq_icon{
                color: $blue;
            }
            &#close_icon{
                color: #fff;                   
            }
        }
      
    }
    .faq_container { 
        width: 422px;
        height: 427px;
        padding-right: 0px;
        padding-left: 35px;
        padding-bottom: 67px;
        box-sizing: border-box;
        border-radius: 12px 12px 12px 33px;
        box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.33);
        background-color: #fff;
        
        position: absolute;
        left: 0;
        top: unset;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        cursor: default;
        transition: all .4s ease; 
        @media(max-width:768px){
            width: 92vw;
            padding-bottom: 56px;
        }
        .faq_title{
            h3 { 
                font-weight: 600;
                font-size: 20px;
                color: $blue;
                margin-top: 25px;
                margin-bottom: 0px;
                overflow: hidden;
                white-space: nowrap;
               
            }
            p {  
                font-size: 16px;
                font-weight: 400;
                line-height: 1.50;
                white-space: nowrap;
                color: $blue;
                margin-top: 0; 
                margin-bottom: 10px; 
            }
        } 
        .faq_scroll{
            position: relative;
            margin-right: 46px;
            padding-right: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 270px;

            @media (max-width: 767px) {   
                margin-right: 9px;
                padding-right: 20px; 
            }

            @media (max-width: 380px) { 
                height: 28vh;
             }            
           
            &::-webkit-scrollbar { width: 5px; }

            &::-webkit-scrollbar-track { box-shadow: inset 0 0 5px #eaeaea; border-radius: 10px; }
          
            &::-webkit-scrollbar-thumb { background: #02212c; border-radius: 10px; }
          
            &::-webkit-scrollbar-thumb:hover { background: #000406; }
            
            .qa {
                box-sizing: border-box;
                padding: 15px 0 15px 0;
                transition: all 0.5s ease;
                cursor: pointer; 
                &.bt{
                    border-top: 1px solid $blue;
                }
                &.bb{
                    border-bottom: 1px solid $blue;
                }

                .q { 
                    display: flex; 
                    justify-content: space-between;
                    align-items: center; 
                    transition: all 0.5s ease;
                    position: relative;
                    h3 { 
                        font-weight: 600;
                        font-size: 14px; 
                        color: $blue;
                        line-height: 1.3;
                        margin-top: 0;
                        margin-bottom: 0px;
                        transition: all 0.5s ease; 
                       padding-right: 20px;
                       white-space: nowrap;
                       @media(max-width:768px){
                        white-space: normal;
                    }
                    }

                    &::before,&::after{
                        content: '';
                        width: 15px;
                        height:3px;
                        background-color: $blue;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &::after{
                        transition: transform .5s ease;
                        transform: translateY(-50%) rotate(0deg);
                    }
                }
                .a { 
                    font-size: 14px;
                    color: $blue;
                    padding-right: 0px; 
                    height: 0; 
                    transition: all 0.5s ease; 
                    overflow: hidden; 
                    > div {
                        height: auto;
                        padding-top: 15px;
                        width: 320px; 
                    }
                }
                &.close{
                    .q { 
                        &::after{
                            transform: translateY(-50%) rotate(90deg);
                        }
                    }
                }
            }
        }

        .cta {
            display: inline-block;
            width: 100%;
            border: 1px solid $blue;
            text-align: center;
            padding: 10px 0;
            border-radius: 4px;
            color: $blue;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px; 
            transition: all .2s ease;
            text-decoration: none;
          
            @media(min-width:769px){
                &:hover,&:focus{
                    background-color: $blue;
                    color: #fff;
                 }
            }
            @media(max-width:768px){
                &:active{
                    background-color: $blue;
                    color: #fff;
                 }
            }
        }
    }
}
